version: '3.8'

services:
  # --- Banco de Dados do Usuário ---
  users-isaude-db:
    image: postgres:16
    container_name: users-isaude-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-postgres}
      POSTGRES_DB: ${DB_NAME:-users_isaude_db}
    ports:
      # Expõe a porta 5435 na sua máquina (localhost:5435)
      - "5435:5432"
    volumes:
      - users_isaude_pgdata:/var/lib/postgresql/data

  # --- REDIS (para API de Usuários) ---
  users-isaude-redis:
    image: redis:alpine
    container_name: users-isaude-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - users_isaude_redisdata:/data

  # --- API de Usuários/Pacientes ---
  users-api:
    build: . # <-- Ajustado: Constrói a partir da pasta atual
    container_name: users-isaude-back-end
    restart: unless-stopped
    env_file:
      - ./.env # <-- Ajustado: Carrega o .env da pasta atual
    ports:
      # Expõe a porta 8081 na sua máquina (localhost:8081)
      - "8081:80"
    volumes:
      - ./:/src # <-- Ajustado: Monta a pasta atual para /src
      - /src/node_modules
    depends_on:
      - users-isaude-db
      - users-isaude-redis
    command: npm run dev

volumes:
  users_isaude_pgdata:
  users_isaude_redisdata: